/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte e fundo geral */
body {
  font-family: "Inter", sans-serif;
  background-color: #f4f6f9;
}

/* Layout principal */
.dashboard-layout {
  display: flex;
  height: 100vh; /* ocupa tela inteira */
}

/* Área principal (lado direito) */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f4f6f9;
}

/* Header */
.header {
  background-color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

/* Botão Novo Chamado */
.new-ticket {
  background-color: #4c6ef5;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

/* Área interna do conteúdo */
.dashboard-content {
  padding: 30px;
}
.cards-grid {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}
